{% extends "layout/logged.twig" %}

{% block page %}

  <section class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title" style="font-size: 16pt">
        <img src="{{ path('file', {file: 'images/icon-share.png'}) }}">Documento
      </h1>
    </div>
    <div class="panel-body">
      <h4 class="orange">
        Você está em:
        {% if document.type_id == 1 %}
          Cópias
          {% if document.status_id == 1 %}
           > Novas
          {% endif %}
          {% if document.status_id == 2 %}
           > Usadas
          {% endif %}
        {% endif %}
        {% if document.type_id == 2 %}
          Livros
        {% endif %}
        {% if document.type_id == 3 %}
          Resumos e anotações
        {% endif %}
        {% if document.type_id >= 4 %}
          Outros
        {% endif %}
        {% if document.type_id >= 2 %}
          {% if document.status_id == 1 %}
           > Novos
          {% endif %}
          {% if document.status_id == 2 %}
           > Usados
          {% endif %}
        {% endif %}
      </h4>
      <div class="row">
        <div class="col-sm-6 col-md-7 col-lg-7">
          <div class="row text-center">
            <h2>“{{ document.title }}”</h2>
          </div>
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 text-right">
              <img class="img-circle" style="width: 100px; height: 100px" src="{{ document.user_picture }}" alt="{{ document.user_first_name }} {{ document.user_last_name }}" title="{{ document.user_first_name }} {{ document.user_last_name }}">
            </div>
            <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
            <h4>Documento de {{ document.user_first_name }} {{ document.user_last_name }}</h4>
            <br>
            <h4 class="orange">
              {% if userLogged and document.user_id == userLogged.id %}
                <a href="{{ path('my_profile') }}">Ver a minha biblioteca</a>
              {% else %}
                <a href="{{ path('profile', {id: document.user_id}) }}">Veja a biblioteca de {{ document.user_first_name }}</a>
              {% endif %}
            </h4>
            <br>
            <br>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-offset-1">
              <h4 class="orange">Informações do documento</h4>
              {% if document.author %}<h4>Autor(a): {{ document.author }}</h4>{% endif %}
              {% if document.publisher %}<h4>Editora: {{ document.publisher }}</h4>{% endif %}
              {% if document.year %}<h4>Ano de publicação: {{ document.year }}</h4>{% endif %}
              {% if document.categories|length %}
                {% set categories = [] %}
                {% for category in document.categories %}
                    {% set categories = categories|merge([category.name]) %}
                {% endfor %}
                <h4>{{ categories|join(', ') }}</h4>
              {% endif %}
              {% if document.user_id %}<h4>Disponível para doação</h4>{% endif %}
              {% if document.description %}<h4>Informações adicionais:</h4><p>{{ document.description|nl2br }}</p>{% endif %}
            </div>
          </div>
          <div class="row">
            {% if userLogged and document.user_id == userLogged.id %}
              <a href="{{ path('doc_edit', {id: document.id}) }}" style="color: white; text-decoration: none;">
                <div class="btn-action withripple">
                  Editar
                </div>
              </a>
            {% else %}
              <a href="https://facebook.com/{{ document.user_id }}" target="_blank" style="color: white; text-decoration: none;">
                <div class="btn-action withripple">
                  <img src="{{ path('file', {file: 'images/icon-messenger.png'}) }}" style="margin-right: 10px">Eu quero!
                </div>
              </a>
            {% endif %}
          </div>
        </div>
        <div class="col-sm-5 col-md-4 col-lg-4">
          <div class="document" style="background: {% if document.image %}url(/files/uploads/{{ document.image }}) center/cover{% else %}url(/files/images/logo-orange.png) center{% endif %} no-repeat"></div>
        </div>
      </div>
      <hr style="width: 90%">
      <div class="fb-comments" data-href="{{ url('doc_view', {id: document.id}) }}" data-width="100%" data-numposts="10"></div>
    </div>
  </section>

{% endblock %}

{% block facebook %}
  <meta property="og:locale" content="pt_BR">
  <meta property="og:site_name" content="share.ox">
  <meta property="og:url" content="{{ url('doc_view', {id: document.id}) }}">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ document.title }}">
  <meta property="og:description" content="{{ document.description }}">
  <meta property="article:author" content="{{ document.user_id }}">
  {% if document.type_id == 1 %}
    <meta property="article:section" content="Doação de cópias">
  {% endif %}
  {% if document.type_id == 2 %}
    <meta property="article:section" content="Doação de livros">
  {% endif %}
  {% if document.type_id == 3 %}
    <meta property="article:section" content="Doação de resumos e anotações">
  {% endif %}
  {% if document.type_id >= 4 %}
    <meta property="article:section" content="Doação de outros">
  {% endif %}
  {% if document.categories|length %}
    {% set categories = [] %}
    {% for category in document.categories %}
        {% set categories = categories|merge([category.name]) %}
    {% endfor %}
    <meta property="article:tag" content="{{ categories|join(', ') }}">
  {% endif %}
  <meta property="article:published_time" content="{{ document.created }}">
  {% if document.image %}
    <meta property="og:image" content="{{ url('file', {type: 'files', file: 'uploads/' ~ document.image }) }}">
  {% endif %}

{% endblock %}

{% block style %}

  {{ parent() }}

  <style>
    a {
      text-decoration: none !important;
    }

    .document {
      color: #ff9933;
      text-align: center;
      margin: 10px auto;
      height: 600px;
      border: 2px solid #ff9933;
    }

    h4::first-letter {
      text-transform: capitalize;
    }

    .btn-action {
      width: 50%;
      margin: 0 auto;
      padding: 25px 20px;
      text-align: center;
      border-radius: 25px;
      background-color: #ff9933;
      color: white;
      font-size: 24pt;
    }

    @media(max-width: 550px) {
      .btn-action {
        width: 80%;
        margin: 0 auto;
      }
    }
  </style>

{% endblock %}

{% block script %}

  {{ parent() }}

  <script>
    (function($) {
      $(window).resize(function() {
        var document = $('.document');
        document.height(document.width() * 1.5);
      });

      $(function() {
        $(window).trigger('resize');
      });
    })(jQuery);
  </script>

{% endblock %}
