{% extends "layout/logged.twig" %}

{% block page %}

  <section class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title" style="font-size: 16pt">
        <img src="{{ path('file', {file: 'images/icon-share.png'}) }}">Bem vindo(a), {{ userLogged.first_name }}!
        <img src="{{ userLogged.picture }}" alt="{{ userLogged.full_name }}" title="{{ userLogged.full_name }}" style="float: right; border-radius: 50%; margin-top: -10px;">
      </h1>
    </div>
    <div class="panel-body">
      <h1 style="color: #ff9933">Do que você precisa hoje?</h1>
      <div class="row" style="margin: 0; padding: 0">
        <div class="col-md-6 col-lg-6" style="margin: 0; padding: 0">
          <a href="{{ path('search', {type: 1, label: 'cópias'}) }}" style="color: white; text-decoration: none;">
            <div class="withripple" style="margin: 0 15px; margin-top: 30px; padding: 50px 20px; text-align: center; background-color: #ff9933; color: white">
              <h1>cópias</h1>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-6" style="margin: 0; padding: 0">
          <a href="{{ path('search', {type: 2, label: 'livros'}) }}" style="color: white; text-decoration: none;">
            <div class="withripple" style="margin: 0 15px; margin-top: 30px; padding: 50px 20px; text-align: center; background-color: #ff9933; color: white">
              <h1>livros</h1>
            </div>
          </a>
        </div>
      </div>
      <div class="row" style="margin: 0; padding: 0">
        <div class="col-md-6 col-lg-6" style="margin: 0; padding: 0">
          <a href="{{ path('search', {type: 3, label: 'resumos e anotações'}) }}" style="color: white; text-decoration: none;">
            <div class="withripple" style="margin: 0 15px; margin-top: 30px; padding: 50px 20px; text-align: center; background-color: #ff9933; color: white">
              <h1>resumos e anotações</h1>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-6" style="margin: 0; padding: 0">
          <a href="{{ path('search', {type: 4, label: 'outros'}) }}" style="color: white; text-decoration: none;">
            <div class="withripple" style="margin: 0 15px; margin-top: 30px; padding: 50px 20px; text-align: center; background-color: #ff9933; color: white">
              <h1>outros</h1>
            </div>
          </a>
        </div>
      </div>
      <div class="row" style="margin: 0; padding: 0">
        <div class="col-md-12 col-lg-12" style="margin: 0; padding: 0">
          <a href="{{ path('search') }}" style="color: white; text-decoration: none;">
            <div class="withripple" style="margin: 30px 15px; padding: 50px 20px; text-align: center; background-color: #ff9933; color: white">
              <h1>ver todos os documentos</h1>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
